<!DOCTYPE html>
<html>
    <head>
        <title>Bike Rental App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" integrity="sha256-O8SsQwDg1R10WnKJNyYgd9J3rlom+YSVcGbEF5RmfFk=" crossorigin="anonymous">
    </head>

    <body>
        <section class="section" style="margin-top:30vh;">
            <div class="container mt-6">
                <div class="columns is-centered">
                    <div class="column is-half has-text-centered">
                        <h1 class="title">
                            ECE547 Bike Rental
                        </h1>

                        <div class="mb-2">
                            <a href="/login" class="button is-link">
                                <strong>Login to an Account</strong>
                            </a>
                        </div>

                        <div>
                            <a href="/register" class="button is-black">
                                <strong>Register an Account</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
